<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.phone.mapper.PhoneStatusMapper">
    <resultMap id="BaseResultMap" type="com.qianfeng.phone.dto.PhoneStatus">
        <id property="phoneStatusId" column="phone_status_id" javaType="java.lang.Integer"/>
        <result property="clearConditionId" column="clear_condition_id" javaType="java.lang.Integer"/>
        <result property="orderId" column="order_id" javaType="java.lang.Integer"/>
        <result property="priceId" column="price_id" javaType="java.lang.Integer"/>
        <result property="phoneStatusName" column="phone_status_name" javaType="java.lang.String"/>
    </resultMap>
    <select id="queryAllStatus" resultMap="BaseResultMap">
        select phone_status_id,phone_status_name from phone_status
    </select>
</mapper>