<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.phone.mapper.PhoneStatusMapper">
    <!--父标签-->
    <resultMap id="BaseResultMap" type="com.qianfeng.phone.dto.PhoneStatus">
        <id property="phoneStatusId" column="phone_status_id" javaType="java.lang.Integer"/>
        <result property="clearConditionId" column="clear_condition_id" javaType="java.lang.Integer"/>
        <result property="orderId" column="order_id" javaType="java.lang.Integer"/>
        <result property="priceId" column="price_id" javaType="java.lang.Integer"/>
        <result property="phoneStatusName" column="phone_status_name" javaType="java.lang.String"/>
        <result property="phonePage" column="phone_page" javaType="java.lang.Integer"/>
        <collection property="clearCondition" column="phone_status_id" select="queryClearCondition"> </collection>
    </resultMap>
    <!--子标签-->
    <resultMap id="BaseResultMap2" type="com.qianfeng.phone.dto.ClearCondition">
        <id property="phoneStatusId" column="phone_status_id" javaType="java.lang.Integer"/>
        <result property="clearConditionId" column="clear_condition_id" javaType="java.lang.Integer"/>
        <result property="discountId" column="discount_id" javaType="java.lang.Integer"/>
        <result property="clearConditionName" column="clear_condition_name" javaType="java.lang.String"/>
        <result property="clearConditionDescrible" column="clear_condition_describle" javaType="java.lang.String"/>
    </resultMap>
    <select id="queryAllStatus" resultMap="BaseResultMap">
         select phone_status_name,phone_status_id,phone_page from phone_status where phone_type_id=#{phoneTypeId}
    </select>
<select id="queryClearCondition" resultMap="BaseResultMap2">
 select clear_condition_id,clear_condition_name
 ,clear_condition_describle from clear_condition WHERE phone_status_id=#{phoneStatusId}
</select>
    <!--<select id="queryStatusByTypeId" resultMap="">-->
        <!--select clear_condition_id,discount_id,clear_condition_name,clear_condition_describle-->
         <!--from clear_condition where phone_status_id-->

    <!--</select>-->

</mapper>